DB_PORT=5432
DB_NAME=services
DB_USER=services
DB_PASSWORD=services

POSTGRES_EXTERNAL_PORT=5432
REDIS_EXTERNAL_PORT=6379
APP_EXTERNAL_PORT=3000

BULL_BOARD_USERNAME=username
BULL_BOARD_PASSWORD=password

JWT_SECRET=jwt-secret-here